<h1>Dashboard</h1>
<p>Welcome to the RPX Email Tracking System (beta). Use the search box below to start searching your logs.</p>

<div class="panel panel-default">
    <div class="panel-body">
        <h2 style="margin-top: 0px">Search</h2>
        <p>Your query below will check every field in the database (to, from, etc.). You can also specify specific fields by going to the {{#link-to 'detailedSearch'}}Detailed Search{{/link-to}} page.</p>
        {{input type="text" value=query action="search" class="form-control"}}
    </div>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            Total Events
        </div>
        <div class="panel-body" style="height: 275px;">
            <span style="text-align: center">
                <h2 style="font-size: 72px; margin-top: 50px; margin-bottom: 0px;">{{model.today.length}}</h2>
                <h3>
                    {{#if model.isPlural}}
                        Events
                    {{else}}
                        Event
                    {{/if}}
                </h3>
            </span>
        </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            Total Processed
        </div>
        <div class="panel-body" style="height: 275px;">
            <span style="text-align: center">
                <h2 style="font-size: 72px; margin-top: 50px; margin-bottom: 0px;">{{model.processed.length}}</h2>
                <h3>
                    {{#if model.isPlural}}
                        Processeds
                    {{else}}
                        Processed
                    {{/if}}
                </h3>
            </span>
        </div>
    </div>
  </div> 
  <div class="col-md-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            Total Delivered
        </div>
        <div class="panel-body" style="height: 275px;">
            <span style="text-align: center">
                <h2 style="font-size: 72px; margin-top: 50px; margin-bottom: 0px;">{{model.delivered.length}}</h2>
                <h3>
                    {{#if model.isPlural}}
                        Delivereds
                    {{else}}
                        Delivered
                    {{/if}}
                </h3>
            </span>
        </div>
    </div>
  </div>   
  <div class="col-md-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            Total Open
        </div>
        <div class="panel-body" style="height: 275px;">
            <span style="text-align: center">
                <h2 style="font-size: 72px; margin-top: 50px; margin-bottom: 0px;">{{model.open.length}}</h2>
                <h3>
                    {{#if model.isPlural}}
                        Opens
                    {{else}}
                        Open
                    {{/if}}
                </h3>
            </span>
        </div>
    </div>
  </div> 
  <div class="col-md-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            Total Click
        </div>
        <div class="panel-body" style="height: 275px;">
            <span style="text-align: center">
                <h2 style="font-size: 72px; margin-top: 50px; margin-bottom: 0px;">{{model.click.length}}</h2>
                <h3>
                    {{#if model.isPlural}}
                        Clicks
                    {{else}}
                        Click
                    {{/if}}
                </h3>
            </span>
        </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            Total Bounce
        </div>
        <div class="panel-body" style="height: 275px;">
            <span style="text-align: center">
                <h2 style="font-size: 72px; margin-top: 50px; margin-bottom: 0px;">{{model.bounce.length}}</h2>
                <h3>
                    {{#if model.isPlural}}
                        Bounces
                    {{else}}
                        Bounce
                    {{/if}}
                </h3>
            </span>
        </div>
    </div>
  </div>  
  <div class="col-md-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            Total Deferred
        </div>
        <div class="panel-body" style="height: 275px;">
            <span style="text-align: center">
                <h2 style="font-size: 72px; margin-top: 50px; margin-bottom: 0px;">{{model.deferred.length}}</h2>
                <h3>
                    {{#if model.isPlural}}
                        Deferreds
                    {{else}}
                        Deferred
                    {{/if}}
                </h3>
            </span>
        </div>
    </div>
  </div>  
  <div class="col-md-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            Total Dropped
        </div>
        <div class="panel-body" style="height: 275px;">
            <span style="text-align: center">
                <h2 style="font-size: 72px; margin-top: 50px; margin-bottom: 0px;">{{model.dropped.length}}</h2>
                <h3>
                    {{#if model.isPlural}}
                        Droppeds
                    {{else}}
                        Dropped
                    {{/if}}
                </h3>
            </span>
        </div>
    </div>
  </div>

 

  <div class="col-md-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            Total Spam
        </div>
        <div class="panel-body" style="height: 275px;">
            <span style="text-align: center">
                <h2 style="font-size: 72px; margin-top: 50px; margin-bottom: 0px;">{{model.spamreport.length}}</h2>
                <h3>
                    {{#if model.isPlural}}
                        Spams
                    {{else}}
                        Spam
                    {{/if}}
                </h3>
            </span>
        </div>
    </div>
  </div>     

</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            Most Recent Events
        </div>
        <div class="list-group">
            {{#if model.recent.length}}
                {{#each event in model.recent}}
                    {{#link-to 'event' event classNames="list-group-item"}}
                        <h3 style="font-size: 18px; margin: 0px;">
                            {{event-title event=event.event}}
                        </h3>
                        <p style="font-size: 10px; margin: 0px; color: #AAA;">{{format-date event.timestamp}}</p>
                        <p class="truncate" style="font-size: 14px; margin-top: 5px; margin-bottom: 0px;">{{event.email}}</p>
                    {{/link-to}}
                {{/each}}
            {{else}}
                <span href="#" class="list-group-item">
                    <h3 style="font-size: 18px; margin-top: 1em; margin-bottom: 1em;">
                        No recent events.
                    </h3>
                </span>
            {{/if}}
        </div>
    </div>
  </div>
</div>